@font-face {
  font-family: "Oswald";
  src: url("../assets/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.remark {
  background: hsl(180deg, 50%, 75%);
  color: black;
  max-inline-size: 40ch;
  padding: 2em;
}

:root {
  --section-home-padding: 1em;
  --page-nav-top: 90vh;
  --page-nav-top-sticky: 80px;
  scroll-behavior: smooth;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  background: hsl(0deg, 0%, 0%);
  margin: 0;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin-block: 0;
}

img {
  display: inline-block;
}

:any-link {
  color: white;
  display: inline-block;
  text-decoration: none;
}

#navigation-observer-nav {
  block-size: 1px;
  inline-size: 1px;
  left: 0;
  position: absolute;
  top: calc(var(--page-nav-top) - var(--page-nav-top-sticky) - 10px);
}
@media (min-width: 1280px) {
  #navigation-observer-nav {
    top: 81%;
  }
}

main {
  background: black;
}

.page-header {
  background: linear-gradient(to top, hsla(0deg, 0%, 0%, 0.5), hsl(0deg, 0%, 0%) 80%);
  inline-size: 100vw;
  padding: var(--section-home-padding);
  position: fixed;
  top: 0;
  z-index: 10;
}
@media (min-width: 1280px) {
  .page-header {
    background: hsla(0deg, 0%, 0%, 0.8);
  }
}

.page-header :any-link {
  display: block;
  text-decoration: none;
}

.page-title {
  color: white;
  display: flex;
  flex-flow: column;
  font-size: 48px;
  font-variation-settings: "wght" 700;
  justify-content: flex-start;
  line-height: 1;
}
@media (min-width: 768px) {
  .page-title {
    column-gap: 32px;
    flex-flow: row;
  }
}
@media (min-width: 1000px) {
  .page-title {
    font-size: 96px;
    flex: 1;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .page-title {
    font-size: 128px;
  }
}

.page-title > * {
  flex: 0 1 auto;
}

.page-title span + span {
  font-size: 0.85em;
  justify-self: flex-end;
}
@media (min-width: 768px) {
  .page-title span + span {
    font-size: 1em;
  }
}

.btn-toggle-nav {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  position: fixed;
  top: 1.75em;
  right: 1.75em;
  z-index: 21;
}
@media (min-width: 1000px) {
  .btn-toggle-nav {
    display: none;
  }
}

.btn-toggle-nav .icon-menu {
  block-size: 48px;
  display: inline-block;
  inline-size: 48px;
  position: relative;
}
.btn-toggle-nav .icon-menu.open-menu > * {
  border-top: 4px solid white;
  display: inline-block;
  inline-size: 100%;
  padding-block: 2px;
}
.btn-toggle-nav .icon-menu.close-menu > span:first-child::before, .btn-toggle-nav .icon-menu.close-menu > span:first-child::after {
  block-size: 4px;
  background: white;
  content: "";
  inline-size: 48px;
  position: absolute;
  top: 1.25em;
  right: -0.5em;
}
.btn-toggle-nav .icon-menu.close-menu > span:first-child::before {
  transform: rotate(45deg);
}
.btn-toggle-nav .icon-menu.close-menu > span:first-child::after {
  transform: rotate(-45deg);
}

.page-nav {
  background: hsl(0deg, 0%, 0%);
  block-size: 100%;
  display: block;
  inline-size: 100%;
  padding: 20px 0 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  transform: translateX(100vw);
  transition: transform 200ms ease-in-out;
}
@media (min-width: 1000px) {
  .page-nav {
    block-size: auto;
    inline-size: calc(100% - var(--section-home-padding) * 2);
    left: var(--section-home-padding);
    padding: 0 0 1em 0;
    position: absolute;
    top: var(--page-nav-top);
    transform: translateX(0);
    z-index: 11;
  }
}
.page-nav.___slide-in {
  transform: translateX(0);
}
@media (min-width: 500px) {
  .page-nav.___slide-in {
    transform: translate(500px);
  }
}

@media (min-width: 1000px) {
  .page-nav.___sticky {
    background: linear-gradient(to top, hsla(0deg, 0%, 0%, 0.2), hsla(0deg, 0%, 0%, 0.5));
    position: sticky;
    top: var(--page-nav-top-sticky);
  }
}
@media (min-width: 1280px) {
  .page-nav.___sticky {
    top: var(page-nav-top-sticky);
  }
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 1000px) {
  .nav-list {
    align-items: flex-start;
    column-gap: 0.5em;
    display: flex;
    overflow: scroll;
  }
}

.nav-list :any-link {
  font: 34px/1 "Oswald";
  font-variant: all-small-caps;
  font-variation-settings: "wght" 500;
  padding: 0 0.5em 0.25em;
}
.nav-list :any-link:first-child {
  padding-inline-start: 0;
}
@media (min-width: 1000px) {
  .nav-list :any-link {
    font-size: 36px;
  }
}

.nav-list :any-link:is(:active, :hover, [aria-current=page]) {
  color: hsl(200deg, 50%, 70%);
}

.section {
  background: black;
  min-block-size: 100vh;
  color: white;
  padding-inline: var(--section-home-padding);
}
.section p {
  font-size: 1.2em;
  max-inline-size: 50ch;
  margin-inline: 20% 10%;
}

.section-inner {
  padding-block-start: 25vh;
}

.section-title {
  color: white;
  font-size: 64px;
  font-variation-settings: "wght" 700;
}

.home {
  --bg-waves: url("../assets/geluidsgolven.jpg");
  background: var(--bg-waves) right 2020px top 55% no-repeat, var(--bg-waves) right 1676px top 55% no-repeat, var(--bg-waves) right 1332px top 55% no-repeat, var(--bg-waves) right 883px top 55% no-repeat, var(--bg-waves) right 539px top 55% no-repeat, var(--bg-waves) right 195px top 55% no-repeat, linear-gradient(black, black) right 230px top 50%/50px 200px no-repeat, url("../assets/IMG_zwart-wit.JPG") right -50px top 50%/auto 350px no-repeat;
  block-size: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: var(--section-home-padding);
  position: relative;
}
@media (min-width: 768px) {
  .home {
    background: var(--bg-waves) right 1945px top 65% no-repeat, var(--bg-waves) right 1601px top 65% no-repeat, var(--bg-waves) right 1257px top 65% no-repeat, var(--bg-waves) right 913px top 65% no-repeat, var(--bg-waves) right 569px top 65% no-repeat, var(--bg-waves) right 235px top 65% no-repeat, linear-gradient(black, black) right 275px top 40%/50px 250px no-repeat, url("../assets/IMG_zwart-wit.JPG") right -50px top 70%/auto 400px no-repeat;
  }
}
@media (min-width: 1280px) {
  .home {
    background: var(--bg-waves) right 2020px top 55% no-repeat, var(--bg-waves) right 1676px top 55% no-repeat, var(--bg-waves) right 1332px top 55% no-repeat, var(--bg-waves) right 988px top 55% no-repeat, var(--bg-waves) right 644px top 55% no-repeat, var(--bg-waves) right 300px top 55% no-repeat, linear-gradient(black, black) right 360px top 40%/50px 150px no-repeat, url("../assets/IMG_zwart-wit.JPG") right -50px top 50%/auto 500px no-repeat;
  }
}

.spotify-list-container {
  align-items: flex-start;
  display: flex;
  flex-flow: wrap;
  gap: 2em;
  padding-block-start: 2em;
}

.spotify-player {
  block-size: 380px;
  border: none;
  flex: 0 1 300px;
  max-inline-size: 100%;
}

/*# sourceMappingURL=main.css.map */
