@font-face {
	font-family: 'Oswald';
	src: url('../assets/Oswald-VariableFont_wght.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
}

:root {
	--section-home-padding: 1em;
	--page-nav-top: 90vh;
	--page-nav-top-sticky: 80px;
	scroll-behavior: smooth;
}

*, ::before, ::after {
	box-sizing: border-box;
}

body {
	background: hsl(0 0% 0% / 1);
	margin: 0;
	font: 20px 'Oswald', sans-serif;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
	margin-block: 0;
}

ul {
	list-style: none;
}

img {
	display: inline-block;
}

:any-link {
	color: white;
	display: inline-block;
	text-decoration: none;

	[href^="#home"]:hover {
		text-decoration: underline;
		text-decoration-color: hsl(200, 50%, 70%);
	}
}

:is(:focus, :focus-visible, :focus-within) {
	outline-color: hsl(200, 50%, 70%);
}

.___none {
	@media(max-width: 1000px) {
		display: none;
	}
}

#navigation-observer-nav {
	block-size: 1px;
	inline-size: 1px;
	left: 0;
	position: absolute;
	top: calc(var(--page-nav-top) - var(--page-nav-top-sticky) - 10px);

	@media (min-width: 1280px) {
		top: 81%;
	}
}

main {
	background: black;
	block-size: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;

	> section {
		scroll-snap-align: start;
	}
}

.page-header {
	background: linear-gradient(to top, hsl(0 0% 0% / 0.5), hsl(0 0% 0% / 1) 80%);
	inline-size: 100vw;
	padding: var(--section-home-padding);
	position: fixed;
	top: 0;
	z-index: 10;

	@media (min-width: 1280px) {
		background: hsl(0 0% 0% / 0.8);
	}
}

.page-header :any-link {
	display: block;
	text-decoration: none;
}

.page-title {
	color: white;
	display: flex;
	flex-flow: column;
	font-size: 48px;
	font-variation-settings: 'wght' 700;
	justify-content: flex-start;
	line-height: 1;

	@media (min-width: 768px) {
		column-gap: 32px;
		flex-flow: row;
	}

	@media (min-width: 1000px) {
		font-size: 96px;
		flex: 1;
		justify-content: space-between;
	}

	@media (min-width: 1280px) {
		font-size: 128px;
	}
}

.page-title > * {
	flex: 0 1 auto;
}

.page-title span + span {
	font-size: 0.85em;
	justify-self: flex-end;

	@media (min-width: 768px) {
		font-size: 1em;
	}
}

.btn-toggle-nav {
	background: none;
	border: none;
	display: inline-block;
	padding: 20px 20px 16px 16px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 21;

	@media (min-width: 1000px) {
		display: none;
	}
}

.btn-toggle-nav .icon-menu {
	block-size: 48px;
	display: inline-block;
	inline-size: 48px;
	position: relative;

	&.open-menu > * {
		border-top: 4px solid white;
		display: inline-block;
		inline-size: 100%;
		padding-block: 2px;
	}

	&.close-menu > span:first-child {

		&::before, &::after {
			block-size: 4px;
			background: white;
			content: '';
			inline-size: 48px;
			position: absolute;
			top: 1.25em;
			right: -0.5em;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
}

.page-nav {
	background: hsl(0 0% 0% / 1);
	block-size: 100%;
	display: block;
	inline-size: 100%;
	padding: 20px 0 0 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	transform: translateX(100vw);
	transition: transform 200ms ease-in-out;

	@media (min-width: 1000px) {
		block-size: auto;
		inline-size: calc(100% - var(--section-home-padding) * 2);
		left: var(--section-home-padding);
		padding: 0 0 1em 0;
		position: absolute;
		top: var(--page-nav-top);
		transform: translateX(0);
		z-index: 11;
	}

	&.___slide-in {
		transform: translateX(0);

		@media (min-width: 500px) {
			transform: translate(500px);
		}
	}
}

//.page-nav.___sticky {
//
//	@media (min-width: 1000px) {
//		background: linear-gradient(to top, hsl(0 0% 0% / 0.2), hsl(0 0% 0% / 0.5));
//		position: sticky;
//		top: var(--page-nav-top-sticky);
//	}
//
//	@media (min-width: 1280px) {
//		top: var(--page-nav-top-sticky);
//	}
//}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;

	@media (min-width: 1000px) {
		align-items: flex-start;
		column-gap: 0.5em;
		display: flex;
	}
}

.nav-list :any-link {
	font: 34px/1 'Oswald';
	font-variant: all-small-caps;
	font-variation-settings: 'wght' 500;
	padding: 0.25em 0.5em 0.25em;

	&:first-child {
		padding-inline-start: 0;
	}

	@media (min-width: 1000px) {
		font-size: 36px;
	}
}

.nav-list :any-link:is(:active, :hover, [aria-current="page"]) {
	color: hsl(200, 50%, 70%);
}

.icon-container {
	--top: 87vh;
	animation: turn calc(60 / 45 * 1s) 200ms linear 2;
	border: 1px solid;
	border-radius: 50%;
	block-size: 48px;
	display: block;
	inline-size: 48px;
	left: calc(50% - 40px);
	opacity: 1;
	position: absolute;
	top: var(--top);
	transform-origin: center center;
	transition: opacity 400ms ease-out;

	@media (min-width: 768px) {
		display: none;
	}
}

.down-arrowhead {
	fill: hsl(200, 50%, 70%);

	&.___hidden {
		opacity: 0;
	}

	&.___none {
		display: none;
	}

}

@keyframes turn {
	0% {
		top: var(--top);
		transform: rotate(0);
	}
	10% {
		top: calc(var(--top) + 1vh);
	}
	20% {
		top: calc(var(--top) + 2vh);
	}
	30% {
		top: calc(var(--top) + 3vh)
	}
	40% {
		top: calc(var(--top) + 2vh);
	}
	50% {
		top: var(--top);
	}
	60% {
		top: calc(var(--top) + 1vh);
	}
	70% {
		top: calc(var(--top) + 2vh);
	}
	80% {
		top: calc(var(--top) + 3vh);
	}
	90% {
		top: calc(var(--top) + 2vh);
	}
	100% {
		top: var(--top);
		transform: rotate(360deg);
	}
}

.section {
	background: black;
	min-block-size: 100vh;
	color: white;
	padding-inline: var(--section-home-padding);
	position: relative;

	p {
		max-inline-size: 50ch;
		margin-inline: 20% 10%;
	}
}

.section-inner {
	padding-block-start: 20vh;
}

.section-title {
	color: white;
	font-size: 32px;
	font-variation-settings: 'wght' 700;
	padding-block-end: 16px;

	.___large-only {
		display: none;
	}

	@media (min-width: 1000px) {
		.___large-only {
			display: initial;
		}
	}
}

.home {
	--bg-waves: url('../assets/home-waves.webp');
	background: var(--bg-waves) right 2020px top 55% no-repeat,
	var(--bg-waves) right 1676px top 55% no-repeat,
	var(--bg-waves) right 1332px top 55% no-repeat,
	var(--bg-waves) right 883px top 55% no-repeat,
	var(--bg-waves) right 539px top 55% no-repeat,
	var(--bg-waves) right 195px top 55% no-repeat,
	linear-gradient(black, black) right 230px top 50% / 50px 200px no-repeat,
	url('../assets/home-bg.webp') right -50px top 50% / auto 350px no-repeat;
	block-size: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding: var(--section-home-padding);
	position: relative;

	@media (min-width: 768px) {
		background: var(--bg-waves) right 1945px top 65% no-repeat,
		var(--bg-waves) right 1601px top 65% no-repeat,
		var(--bg-waves) right 1257px top 65% no-repeat,
		var(--bg-waves) right 913px top 65% no-repeat,
		var(--bg-waves) right 569px top 65% no-repeat,
		var(--bg-waves) right 235px top 65% no-repeat,
		linear-gradient(black, black) right 275px top 40% / 50px 250px no-repeat,
		url('../assets/home-bg.webp') right -50px top 70% / auto 400px no-repeat;
	}

	@media (min-width: 1280px) {
		background: var(--bg-waves) right 2020px top 55% no-repeat,
		var(--bg-waves) right 1676px top 55% no-repeat,
		var(--bg-waves) right 1332px top 55% no-repeat,
		var(--bg-waves) right 988px top 55% no-repeat,
		var(--bg-waves) right 644px top 55% no-repeat,
		var(--bg-waves) right 300px top 55% no-repeat,
		linear-gradient(black, black) right 360px top 40% / 50px 150px no-repeat,
		url('../assets/home-bg.webp') right -50px top 50% / auto 500px no-repeat;
	}
}

:is(.contact, .favorite-radio, .spotify-list, .merchandise) :any-link {
	color: hsl(200, 50%, 70%);
}

.spotify-list li::before {
	font-size: 1em;
	content: url('../assets/vinyl-bullet.svg');
}

.carousel-item {
	align-items: start;
	display: grid;
	grid-template-columns: auto 1fr auto;
	inline-size: 100%;
	max-block-size: 70vh;
	position: relative;

	> .btn {
		block-size: 48px;
		border: none;
		border-radius: 50%;
		content: '';
		cursor: pointer;
		inline-size: 48px;
		margin: 0.5rem;
		padding: 16px;
		z-index: 1;

		&:hover {
			border: 2px solid hsl(200, 50%, 70%);
		}

		@media (min-width: 1000px) {
			padding: 32px;
		}
	}

	> .previous {
		background: url('../assets/left-arrow.svg') black no-repeat 40% center  ;
		grid-column: 1;
		grid-row: 1;
		justify-self: end;
	}

	> .next {
		background: url('../assets/right-arrow.svg') black no-repeat 60% center;
		grid-column: 3 / 4;
		grid-row: 1;
		inline-size: 48px;
	}

	img {
		grid-column: 1 / -1;
		grid-row: 1;
		inline-size: 100%;
		max-block-size: 65vh;
		object-fit: contain;
	}
}

.carousel-modal {
	background: hsl(0 0% 0% / 1);
	display: none;
	margin-inline: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	z-index: 30;

	.btn-close {
		appearance: none;
		background: url('../assets/close.svg') no-repeat center;
		block-size: 48px;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		inline-size: 48px;
		padding: 32px;
		position: absolute;
		top: 32px;
		right: 32px;

		&:hover {
			border: 2px solid hsl(200, 50%, 70%);
		}
	}

	img {
		block-size: 70vh;
		inline-size: 100%;
		object-fit: contain;

		@media (min-width: 1000px) {
			block-size: 100%;
		}
	}

	&.___show {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.cards-container {
	display: flex;
	flex-flow: wrap;
	gap: 2rem;
	margin-block-start: 3rem;
}

.card {

	&:last-child {
		margin-block-end: 50vh;
	}

	@media (min-width: 768px) {
		max-inline-size: 40%;
	}

	@media (min-width: 1024px) {
		max-inline-size: 400px;
	}

	.card-title {

	}

	.card-image img {
		block-size: auto;
		inline-size: 100%;
	}
}
